@{ 
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Desenvolvedor: @ViewData["Dev"]</p>

<address>
    <strong>More information:</strong> <a href="william_gb@hotmail.com.br" target="_blank">william_gb@hotmail.com.br</a>
</address>

